@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    ButtonElement content = Model.Content as ButtonElement;
    ButtonElementSettings settings = Model.Settings as ButtonElementSettings;
}

<!-- Button Element -->

<button-component
    href="@(content.Link != null ? content.Link.Url : "#")"
    label="@content.Link.Name"
    class="@content.Style"
    size="@content.Size"
    @Html.Raw(content.Icon != null && content.Icon.Url() != null ? "icon=\""+content.Icon.Url()+"\"" : "icon=\"\"")

    icon-position="@content.IconPosition">

    <a role="button"></a>

</button-component>
